@media(max-width:630px){
  .skill-content{
    font-size: 11px;
    
  
  }
 
}


.techskill,.softskill {
  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  
  
  
 
}
.techskill p,.softskill p{
  width: 110px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  

 
  
}
.skill-content{
  display: flex;
  flex: 1;
  justify-content: space-between;

}

.interest-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 8px; */
  padding-left: 20px;
  padding-right: 20px;
  

}



.slash {
  font-weight: 900;
  color: rgb(172, 6, 6);
}