* {
  font-family: Roboto, Arial;
  
}


body {
  /* background-color: rgb(1, 78, 85); */
  background-color: rgb(8, 43, 54);

  margin: 0%;
  font-family: Roboto,Arial;
  color: white;

}
a {
  text-decoration: none;
}
.main{
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.dp {
  width: 120px;
  border-radius: 50%;
}
.main h1 {
  
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  position: relative;
  margin: auto;
}


.education-section,
.project-section,.skills-section,.interest-section{
  width: 90%;
  margin: auto;  
  
}

.headname {
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
  font-size: 24px;
  color: blueviolet;
  background-color: whitesmoke;
  margin-bottom: 8px;
  margin-top: 0;
}





